

* {
    margin: 0;
    padding: 0;
    --box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    width: 400px;
    height: 600px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.container-cover {
}

.cover {
    
}

.container-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}
#button-play {
    padding: 10px 20px;
    border-radius: 10px;
}

.fa-play {
    font-size: 50px;
}